nav{
	background-color: #000080
}

.navbar-brand.ron-title {
	color: White;
}

.nav-item.nav-link.nav-menu-item {
	color: white;
}

body {
	background: url(../imgs/wntr.jpg) no-repeat center center fixed;
	background-size: cover;
}

.title-text{
	font-size: 96px;
	font-family: Courier New Header;
	color: white;
	margin-top: 15vh;
	padding-right: 15vw;
	padding-left: 15vw
}







@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Courier New Header', sans-serif;
    ;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 100px;
  margin: 0.2em;
  position: relative;
  color: #FF7F50;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: #0000FF;
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}






div.transbox{
	margin: 70px;
	margin-left: 0;
	background-color: #C0C0C0;
	opacity: 0.7;
	filter:	alpha(opacity=60);
}

.cololo{
	color: white;
}

/*div.transbox:hover{
	position: relative;
	left: -100px;
}