nav{
	background-color: #000080
}

.navbar-brand.ron-title {
	color: White;
}

.nav-item.nav-link.nav-menu-item {
	color: white;
}

body {
	background: url(../imgs/wntr.jpg) no-repeat center center fixed;
	background-size: cover;
}

.title-text{
	font-size: 96px;
	font-family: "Courier New Header";
	color: white;
	margin-top: 15vh;
	padding-right: 15vw;
	padding-left: 15vw
}

.profile-pic{
max-width: 300px;
height: 300px;
}

.title-text1{
	font-family: "Courier New Header";
	color: navy;
	position: bottom;
	margin-right: 5px;
	margin-left: 5px;
}

.marga{
	text-align: left;
	font-size: 14px;
}

.icon{
	color: navy;
	margin: 0 15px;
}

.margarin{
	margin-bottom: 5px;
}

.main-pic{
width: 50%;
height: 50%;
position: relative;
FLOAT:left;
}

div.transbox{
	margin: 0;
	margin-left: 0;
	/*RGBA*/
	background-color: rgba(210,192,123,0.6);
	
}

div.transbox1{
	margin: 70px;
	margin-left: 0;
	background-color: #C0C0C0;
	opacity: 1;
	filter:	alpha(opacity=100);
}

.left{
	float: left;
	width: 400px;
	margin-right: 10px;
	margin-bottom: 10px;
}
